:root {
  --heading-font: "Big Shoulders Display", sans-serif;
  --orange-bg: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --paragraph-color: hsla(0, 0%, 100%, 0.75);
  --bg-headings: hsl(0, 0%, 95%);
  --paragraph-font: "Lexend Deca", sans-serif;
}
body {
  margin: 0;
  background-color: var(--bg-headings);
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 180px;
}
.sedans,
.suvs,
.luxury {
  padding: 20px;
  width: 200px;
  height: 300px;
}
h3 {
  font-family: var(--heading-font);
  font-weight: 400px;
  font-size: 25px;
  color: var(--bg-headings);
}
.text {
  color: var(--paragraph-color);
  font-family: var(--paragraph-font);
  font-size: 15px;
}
.sedans {
  background-color: var(--orange-bg);
}
.suvs {
  background-color: var(--dark-cyan);
}
.luxury {
  background-color: var(--very-dark-cyan);
}
